@model Product
@{
    if (ViewBag.Action != null)
    {
    <form asp-action="@ViewBag.Action" method="post" enctype="multipart/form-data">
        @{
            if (ViewBag.Action == nameof(ProductController.Edit))
            {
                <input asp-for="ID" type="hidden">
            }
        }
        <div class="form-group">
            <label asp-for="Name">Name of product</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Enter product's name'">
        </div>
        <div class="form-group">
            <label asp-for="Image">Image 450x300 Source</label>
            <input asp-for="Image" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    }
}
