@model Product
@{
    ViewData["Title"] = "Edit product item";
}
<h1>@ViewData["Title"]</h1>

<p>This page edits product item.</p>

@{
    ViewBag.Action = nameof(ProductController.Edit);
}
<partial name="CreateEditForm" model="Model">